#window {
  background-color: transparent;
 }
#entry {
    border: 1px solid #444; 
    box-shadow: none;
    outline: none; 
    background-color: rgba(58,58,58,0.8);
    border-radius: 12px;
    font-weight: 600;
    padding: 10px;
    font-size: 18px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    margin-bottom: 6px;
}
#main {
  background-color: transparent;
  border-radius: 12px 12px;
  color: #e0e0e0;
  outline: none;
}
#match{
   border: none;
   outline: none;
   background-color: transparent;
}
#plugin {
  border: none;
  outline: none;
  background-color: rgba(58,58,58,0.4);
  font-size: 16px;
  padding: 2px;
  color: #d0d0d0;
  border-radius: 12px;
}
#match:selected, #plugin:selected {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  color: white;
  border:none;
  outline: none;
}

